/*main color ;*/
body {
  font-size: 15px;
}
.color {
  color: rgb(10, 101, 10);
}
.color-gray {
  color: #919691;
}
.bg-color {
  background-color: rgb(10, 101, 10);
}
.center {
  text-align: center;
}
.color-alarm {
  color: #800000;
}
.color-black {
  color: black;
}
.bold {
  font-weight: bold;
}
h1 {
  font-size: 24px;
}
table th {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
span,
p {
  color: black;
}
.underline {
  text-decoration: underline;
}
div::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
div::-webkit-scrollbar-thumb {
  // background-image: -webkit-linear-gradient(
  //   0deg,
  //   rgb(10, 101, 10) 25%,
  //   transparent 25%,
  //   transparent 50%,
  //   #fff 50%,
  //   rgb(10, 101, 10) 75%,
  //   transparent 100%,
  //   transparent
  // );
  border-radius: 7px;
  background-color: rgb(10, 101, 10);
}

div::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(11, 11, 11, 0.9); */
  /* box-shadow: inset 0 0 6px rgb(55, 59, 55); */
  border-radius: 10px;
  background-color: #f1f1f1;
}
.expand_caret {
  transform: scale(1);
  margin-left: 8px;
  margin-top: -4px;
}
h3[aria-expanded="true"] > .expand_caret,
h4[aria-expanded="true"] > .expand_caret,
h1[aria-expanded="true"] > .expand_caret {
  transform: scale(1) rotate(-180deg);
}

/* navigation bar*/

nav {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 2px 14px 0 black;
}
.navbar {
  padding-left: 20px;
  margin-bottom: 5px;
}
form label,
form input {
  color: black;
}

img.logo {
  height: 77px;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
  height: 50px;
  padding: 14px 0;
}
nav * {
  display: -webkit-box;
}
.form-group {
  /* display: table-cell; */
  padding: 0 4px;
}
[class*="form"][class*="col"] {
  padding: 0;
}
nav .fa {
  font-size: 23px;
}
nav .fa.login {
  padding-top: 12px;
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  background-color: rgb(10, 101, 10);
  font-weight: bold;
}
nav .btn-primary {
  margin-top: 8px;
}
.btn-primary:hover,
button:hover {
  background-color: rgba(10, 101, 10, 0.5);
}
nav input {
  margin-top: 7px;
}

/* body*/

.index-bg {
  background: url("./images/bg.jpg") center fixed;
  margin: 12px 0;
  padding: 60px 0 0 0;
  box-shadow: 0 4px 14px 0 black;
  height: 540px;
}
.panel {
  border-radius: 8px;
}
.form-control:focus {
  border-color: rgba(10, 101, 10, 0.44);
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}
#news .panel,
#register-form .panel {
  height: 465px;
  overflow: scroll;
}
.form-group {
  margin-bottom: 0;
}
a {
  color: rgb(10, 101, 10);
}
a:hover {
  color: rgba(10, 101, 10, 0.5);
}
.nav > li > a {
  font-size: 16px;
  font-weight: bolder;
}
nav li.active,
.nav li a:hover {
  background-color: transparent;
  font-size: 20px !important;
  border-bottom: black 2px solid;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border: none;
}
.my-li {
  margin-top: -5px;
}
.my-li .fa {
  margin-right: -15px;
}
.my-li .dropdown-menu {
  position: relative;
  margin: 31px -48px 2px;
}
.my-li .dropdown-menu li:nth-of-type(1) {
  text-transform: capitalize;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 161px;
}
.dropdown-menu > li > a {
  width: 100%;
}
.dropdown-menu > li > a:hover {
  background-color: rgba(10, 101, 10, 0.12);
}
.sidebar {
  height: 575px;
  overflow: scroll;
  padding: 34px 5px 24px 36px;
  box-shadow: 0 2px 14px 0 black;
}
.panel-heading {
  padding: 0;
}
.sidebar.courses .panel-heading {
  border-color: rgb(10, 101, 10);
}
p {
  color: black;
}
.courses p.title {
  text-transform: capitalize;
}
.courses p.code {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(10, 101, 10);
}
.courses .inside {
  padding-left: 25px;
  border-left: solid 1px rgb(10, 101, 10);
}
h4 {
  font-weight: bold;
}
.w3-example {
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  margin: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.w3-padding {
  padding: 10px 3px !important;
}
.w3-white {
  color: #000 !important;
  background-color: #fff !important;
}
.container-fluid {
  padding: 0 !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.table-hover > tbody > tr:hover {
  background-color: rgb(235, 249, 235);
}
.btn-danger {
  background-color: #800000;
}
.modal .close {
  opacity: 1;
}
.row.margin-0 {
  margin-left: 0;
  margin-right: 0;
}
[class*="col"].padding-0 {
  padding-left: 0;
  padding-right: 0;
}
.question {
  margin-top: 10px;
}
#testr-form .form-group,
.modal .form-group {
  margin-bottom: 12px;
}
footer {
  background: url("./images/footer.jpg") center fixed;
  margin-top: 83px;
  font-size: 15px;
  border-top: 7px #037703 solid;
  line-height: 40px;
  padding: 12px 20px 2px;
}
footer a,
footer a:hover {
  color: white;
  font-weight: bold;
}
#newsmgt,
#staffmgt {
  padding-top: 20px;
  border-color: #858687;
  height: 560px;
  overflow: scroll;
}

.news-mgt {
  border-top: solid rgba(10, 101, 10, 0.32) 1px;
  padding: 15px 0;
}
.news-mgt:nth-of-type(1) {
  border: none;
}
.news-text {
  padding: 4px 0 0 20px;
}
p::first-letter {
  text-transform: uppercase !important;
}

.staff-mgt .fa-staff {
  font-size: 26px;
  padding-right: 9px;
}

/* forum */
#forum {
  padding: 30px 12px;
  background-color: #032503;
  color: black;
}
#forum .fa.big {
  color: rgb(10, 101, 10);
  font-size: 24px;
  font-weight: bold;
  padding-top: 12px;
}
i.fa-plus.big:hover {
  color: black !important;
}
button.fake-button {
  background-color: transparent;
  border: none;
}

.post {
  background-color: #fff;
  border-top: 18px #032503 solid;
  padding-top: 11px;
}
.post-comment {
  background-color: #fff;
  border-top: 4px double #032503;
}
.post .post-text {
  border-bottom: 2px #032503 solid;
}
.post-text {
  border-top: 1px #d3e6d3 solid;
  padding: 12px;
}
.post-bg {
  background-color: #032503;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
}
#write-test {
  background: #032503;
}
#test-body {
  box-shadow: inset 0 0 5px #c7ca34, 0 0 5px #dde00a;
  background-color: #fff;
}
#write-test table,
#write-test td {
  padding: 3px 0;
}

#write-test .distrators {
  background-color: rgba(3, 119, 3, 0.05);
  margin-left: 22px;
  margin-bottom: 30px;
  margin-top: 20px;
}
#write-test .test-header {
  box-shadow: 0 0 5px #032503, 0 0 5px #163504;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 7px;
}
#write-test .questions {
  padding: 25px 15px;
}
// #writè
#write-test .question {
  margin-bottom: 20px;
  margin-top: 10px;
}
// tilmerrr

.timer {
  font-size: 14px;
  text-align: center;
  margin-top: 13px;
  margin-left: 7px;
  position: fixed;

  .day,
  .hour,
  .min,
  .sec {
    font-size: 18px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
  .number {
    color: white;
  }
  .message {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  .status-tag {
    width: 270px;
    margin: 10px auto;
    padding: 8px 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 15px;
  }
}
.pagination > li > a.btn-primary {
  background-color: rgb(10, 101, 10) !important;
  font-weight: bold;
  color: white;
}
#sitemanagement {
  a {
    color: black;
  }
  a.selected {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(10, 101, 10);
    font-size: 16px;
    color: rgb(10, 101, 10);
  }
  a:hover,
  a:focus,
  a:active {
    border: none;
    font-size: 16px !important;
  }
  #sitemanagement-body {
    background-color: #fff;
  }
  .blocked {
    background-color: rgba(255, 0, 0, 0.25);
  }
  .form-group {
    padding: 0 8px;
  }
  table th {
    font-size: 16px;
  }
  .caret {
    border-top: 11px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  .w3-white.w3-example {
    border-top: 2px solid black;
  }

  element.style {
    margin: 40px 0px;
    font-size: 30px;
  }
  .collapse.in {
    display: block;
  }
  .bold {
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
  .color {
    color: #0a650a;
  }
  .well {
    background-color: #f5f8fa !important;
  }
}
.welcome-staff {
  font-size: 15px;
  h3 {
    margin: 37px 0;
  }
}
